@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.Header {
  margin-bottom: 1rem;
  padding: .5rem .9rem 1rem .9rem;  
  
  border-radius: .25rem;
  color: $color_bw_black;
  background-color: rgba($color_primary_base, .5);

  @include tablet {
    padding: .8rem 1.2rem 1rem 1.2rem;  
  }

  @include desktop {
    padding: 1.2rem 1.5rem 1.5rem 1.5rem;  
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: .5rem;
  }

  &__paragraph {
    line-height: 1.4rem;
  }

  &__link {
    padding-bottom: .08rem;
    border-bottom: 2px solid $color_bw_white;
    font-weight: 600;
    transition: all .2s;
    
    &:hover {
      color: $color_secondary_dark;
      padding-bottom: .25rem;
      border-color: $color_secondary_base;
    }
  }
}