@use '../../partials/variables' as *;

@keyframes pulse {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

.Loading {
  display: flex;
  flex-flow: column;
  height: 100%;

  &__text {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    font-weight: 500;
    color: $color_primary_dark;

    animation-name: pulse;
    animation-duration: .9s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
}