@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.QuickStats {
  margin-bottom: 1rem;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid $color_bw_black;

  &__heading {
    margin-bottom: .3rem;
    font-weight: 400;
    font-size: .9rem;

    @include tablet {
      font-size: 1.125rem;
    }
  }
  
  &__paragraph {
    line-height: 1.4rem;
    margin-bottom: .3rem;
    font-size: .9rem;

    @include tablet {
      font-size: 1rem;
    }
  }

  &__big {
    color: $color_primary_dark;
    font-size: 1rem;
    font-weight: 700;

    @include mobile_L {
      font-size: 1.25rem;
    }

    @include tablet {
      font-size: 1.5rem;
    }
  }

  &__up {
    font-weight: 700;
    color: $color_secondary_dark;
  }
  
  &__down {
    font-weight: 700;
    color: $color_green_dark;
  }
}