@use "./partials/mixins" as *;

.App {
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  @include tablet {
    padding: 2rem;
  }

  &__main {
    height: 100%;
    flex: 1 1 auto;
  }

  & > h3 {
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(red, 0.4);
    border-radius: 0.25rem;
  }
}
